<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :opt1 %><br />
    <%= f.text_field :opt1 %>
  </div>
  <div class="field">
    <%= f.label :opt2 %><br />
    <%= f.text_field :opt2 %>
  </div>
  <div class="field">
    Option1 count<br />
    <%= f.number_field :opt1_ac %>
  </div>
  <div class="field">
    Option2 count<br />
    <%= f.number_field :opt2_ac %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
