<%= link_to 'New Question', new_question_path %>

<h1>Listing questions</h1>

<table class="table table-striped table-condensed">
  <tr>
    <th>ID</th>
    <th>Opt1</th>
    <th>Opt2</th>
    <th>Opt1 count</th>
    <th>Opt2 count</th>
    <th>created by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.id %></td>
    <td><%= question.opt1 %></td>
    <td><%= question.opt2 %></td>
    <td><%= question.opt1_ac %></td>
    <td><%= question.opt2_ac %></td>
    <td><%= question.user_email %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, confirm: 'Are you sure musun?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
