<div class="hero-unit">
  <h1>sence?dashboard</h1>
  <p>
  	
    <%= link_to "<i class='icon-question-sign icon-white'></i> #{t('New')}".html_safe, new_question_path, :class=>'btn btn-large btn-primary' %>
    <%= link_to "<i class='icon-random icon-white'></i> #{t('Random')}".html_safe, random_questions_path, :class=>'btn btn-large btn-success' %>
    <%= link_to "<i class='icon-star icon-white'></i> #{t('Mine')}".html_safe, mine_questions_path, :class=>'btn btn-large btn-warning' %>
    <%= link_to "<i class='icon-picture icon-white'></i> #{t("No Picture ("+@nopicture_count.to_s+")")}".html_safe, nopicture_questions_path, :class=>'btn btn-large btn-inverse' %>
    <%= link_to "<i class='icon-ok icon-white'></i> #{t("Waiting Approvals ("+@wapproval_count.to_s+")")}".html_safe, wapproval_questions_path, :class=>'btn btn-large btn-info' %>
  </p>

  <b><%= @question_count %></b> questions,
  <b><%= @answer_count %></b> answers and 
  <b><%= @user_count %></b> users
</div>
 <table class="table table-condensed">
  <tr>
    <th>User</th>
    <th>Question Count</th>
  </tr>
  	<% @user_questions.each do |user_question| %>
	  <tr>
	    <td><%= link_to user_question.email, user_questions_path(user_question.user_id) %></td>
	    <td><%= link_to user_question.cnt, user_questions_path(user_question.user_id) %></td>
	  </tr>
	<% end %>
</table>
