<div class="hero-unit">
  <h1>sence?dashboard</h1>
  <p>
  	
    <%= link_to "new question", new_question_path, :class=>'btn btn-large btn-primary' %>
    <%= link_to "random question", random_questions_path, :class=>'btn btn-large' %>
    <%= link_to "sign out", destroy_user_session_path, :method => :delete, :class=>'btn btn-large' %>
  </p>

  <b><%= @question_count %></b> questions,
  <b><%= @answer_count %></b> answers and 
  <b><%= @user_count %></b> users
</div>
 <table class="table table-condensed">
  <tr>
    <th>User</th>
    <th>Question Count</th>
  </tr>
  	<% @questions.each do |question| %>
	  <tr>
	    <td><%= link_to question.email, user_questions_path(question.user_id) %></td>
	    <td><%= link_to question.cnt, user_questions_path(question.user_id) %></td>
	  </tr>
	<% end %>
</table>
