<h1>Listing category_questions</h1>

<table class="table table-striped table-condensed">
  <tr>
    <th>Category</th>
    <th>Question</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @category_questions.each do |category_question| %>
  <tr>
    <td><%= category_question.category_id %></td>
    <td><%= category_question.question_id %></td>
    <td><%= link_to 'Show', category_question %></td>
    <td><%= link_to 'Edit', edit_category_question_path(category_question) %></td>
    <td><%= link_to 'Destroy', category_question, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category question', new_category_question_path %>
